<%= form_with(model: ad) do |form| %>
  <% if ad.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(ad.errors.count, "error") %>
        prohibited this ad from being saved:
      </h2>
      <ul>
        <% ad.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title , class:"form-control", placeholder:"Enter Ads Title"%>
  </div>
  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description , class:"form-control", placeholder:"Enter some description"%>
  </div>
  <div class="field form-group">
    <%= form.label :price %>
    <%= form.text_field :price , class:"form-control", placeholder:"Enter price of the product"%>
  </div>
  <div class="field form-group">
    <%= form.label :location %>
    <%= form.text_field :location , class:"form-control", placeholder:"Enter the address of company"%>
  </div>
  <div class="field form-group">
    <%= form.label :mobileNumber %>
    <%= form.text_field :mobileNumber , class:"form-control", placeholder:"Enter contact number"%>
  </div>
  <div class="field form-group">
    <%= form.label :category %>
    <%= form.select :category_id, Category.all.collect { |p| [ p.title, p.id] }, include_blank: true  %> 
  </div>
  <div class="form-group">
    <% if @ad.image.attached? %>
      <%= image_tag @ad.image%>
    <% end%>
    <%= form.label :image %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <br>
  <div class="actions ">
  <%= form.submit %>
  </div>
<% end %>
