<p id="notice">
  <%= notice %>
</p>
<strong>
  <h2>
    Ads
  </h2>
</strong>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Picture</th>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Location</th>
      <th>Mobilenumber</th>
      <th>category</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @ads.each do |ad| %>
      <tr class="table-light">
        <td>   
          <%= image_tag ad.image, height:50, width:50 %>
        </td>
        <td>
          <%= ad.title %>
        </td>
        <td>
          <%= ad.description %>
        </td>
        <td>
          <%= ad.price %>
        </td>
        <td>
          <%= ad.location %>
        </td>
        <td>
          <%= ad.mobileNumber %>
        </td>
        <td>
          <%= ad.category_id %>
        </td>
        <td>  
          <%= link_to 'Show', ad, class:" btn btn-warning" %>
        </td>
        <td>
          <%= link_to 'Edit', edit_ad_path(ad), class:" btn btn-success" %>
        </td>
        <td>
          <%= link_to 'Destroy', ad, class:" btn btn-danger" , method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Ad', new_ad_path,class:"btn btn-primary"  %>
