<p id="notice"><%= notice %>
</p>
<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @ad.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @ad.price %>
</p>
<p>
  <strong>Location:</strong>
  <%= @ad.location %>
</p>
<p>
  <strong>Mobilenumber:</strong>
  <%= @ad.mobileNumber %>
</p>
<p>
  <strong>Category:</strong>
  <%= @ad.category.title %> 
</p>
<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
