<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <strong>
        <%= link_to "OLX", root_path, class:"navbar-brand ms-2"%>
    </strong>
    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="search location" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">
            Search
        </button>
    </form>
    <form class="d-flex ">
        <input class="form-control ms-5 me-2" type="search" placeholder="search product" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">
            Search
        </button>
    </form>
    <nav class="navbar ms-auto">
        <% if admin_signed_in?%>
        <div class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Login
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li>
                    <a>
                     <%= link_to "Category", categories_path,class:"btn btn-light w-100" %>
                    </a>
                </li>
                <li class="nav-item">
                    <a>
                        <%= link_to "My Ads", ads_path,class:"btn btn-dark w-100" %>
                    </a>
                </li>
                <li class="nav-item">
                    <a>
                        <%= link_to "Edit Profile", edit_admin_registration_path, class:"btn btn-dark w-100"%>
                    </a>
                </li>
                <li>
                    <a>
                        <%= link_to "Sign Out", destroy_admin_session_path, method: :delete,class:"btn btn-dark w-100" %>
                    </a>
                </li>
            </ul>
        </div>
        <% end%>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="navbar-nav">
                <% if !admin_signed_in?%>
                <strong>
                    <li class="nav-item">
                        <%= link_to "Sign Up", new_admin_registration_path, class:"nav-link"%>
                    </li>
                </strong>
                <strong>
                    <li class="nav-item">
                        <%= link_to "Sign in", new_admin_session_path, class:"nav-link"%>
                    </li>
                </strong>
                <%end%>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</nav>