<%= form_with(model: category) do |form|%>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%=pluralize(category.errors.count, "error")%>
        prohibited this category from being saved:
      </h2>
      <ul>
        <% category.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title , class:"form-control", placeholder:"Enter category Title"%>
  </div>
  <br>
  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control", placeholder:" Enter the description" %>
  </div>
  <br>
  <div class="action">
    <%= form.submit %>
  </div>
<% end %>
