<%= link_to 'Show', @category, class:"btn btn-info"%>
<%= link_to 'Back', categories_path, class:"btn btn-danger" %>
<br>
<h4>
    <strong>
        Editing Category
    </strong>
</h4>
<%= render 'form', category: @category %>

