<p id="notice">
  <%= notice %>
</p>
<h3>
  <strong>
    Categories
  </strong>
</h3>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Title</th>  
      <th>Description</th>
      <th colspan="3"></th>
    </tr> 
  </thead>
  <tbody> 
    <% @categories.each do |category| %>
      <tr class="table-light">
        <td>
          <%= category.title %>
        </td>
        <td>
          <%= category.description%>
        </td>
        <td>
          <a> 
            <%= link_to 'Show', category,class:"btn btn-warning" %>
          </a>
        </td>
        <td>
          <a>
            <%= link_to 'Edit', edit_category_path(category),class:"btn btn-success" %>
          </a>
        </td>
        <td>
          <a>
            <%= link_to 'Destroy', category, class:"btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<a> <%= link_to 'New Category', new_category_path, class:"btn btn-primary" %></a>
</button>
