<%= link_to 'Back', categories_path, class:"btn btn-info", style:"margin-left:1000px;" %>
<br>
<h4>
    <strong>
        Add New Category
    </strong>
</h4>
<%= render 'form', category: @category %>

