<div class="jumbotron jumbotron-fluid">
  <h3 id="notice">
    <%= notice %>
  </h3>
  <h4 class="display-4"><strong>Title:</strong>
    <%= @category.title %>
  </h4>
  <p class="lead">  <strong>Description:</strong>
    <%= @category.description %>
  </p>
  <hr class="my-4">
</div>
<%= link_to 'Edit', edit_category_path(@category), class:"btn btn-primary" %> 
<%= link_to 'Back', categories_path, class:"btn btn-danger"  %>
